[submodule "orderbook"]
	path = orderbook
	url = https://github.com/runeksvendsen/orderbook.git
[submodule "bellman-ford"]
	path = bellman-ford
	url = https://github.com/runeksvendsen/bellman-ford.git
[submodule "order-graph"]
	path = order-graph
	url = https://github.com/runeksvendsen/order-graph.git
[submodule "crypto-orderbook-db"]
	path = crypto-orderbook-db
	url = https://github.com/runeksvendsen/crypto-orderbook-db.git
[submodule "crypto-liquidity-db"]
	path = crypto-liquidity-db
	url = https://github.com/runeksvendsen/crypto-liquidity-db.git
[submodule "crypto-orderbook-db-app"]
	path = crypto-orderbook-db-app
	url = https://github.com/runeksvendsen/crypto-orderbook-db-app.git
[submodule "crypto-venues"]
	path = crypto-venues
	url = https://github.com/runeksvendsen/crypto-venues.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/runeksvendsen/crypto-liquidity-frontend.git
